version: '2.4'

services:
  postgres:
    image: postgres:12
    container_name: hds-postgres
    restart: always
    environment:
      POSTGRES_USER: 'postgres'
      POSTGRES_DB: 'postgres'
      POSTGRES_PASSWORD: 'password'
      
  django:
    image: python:3
    container_name: hds-django
    restart: always
    depends_on:
      - 'postgres'
    working_dir: /code
    command: bash -c "pip install --upgrade pip && pip install -r requirements.txt && python ./manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./django:/code
    environment:
      PYTHONUNBUFFERED: 1
      # Any $ in secret key need another $ before them for interpolation. > ex. `...4v$0n^c...` becomes `...4v$$0n^c...` (read readme.md)
      DJANGO_SECRET: 'axf*4v$$0n^cv$$fnby!yx2+ek$$qv_ultvb)a-m_-(_-oyy!sns7'
    ports:
      - "127.0.0.1:8000:8000"

  hasura:
    # Uncomment and comment image below to disable migrations
    # image: hasura/graphql-engine:latest
    image: hasura/graphql-engine:latest.cli-migrations-v2
    volumes:
      - ./hasura/migrations:/hasura-migrations
      - ./hasura/metadata:/hasura-metadata
    container_name: hds-hasura
    restart: always
    depends_on:
      - 'postgres'
      - 'django'
    environment:
      HASURA_GRAPHQL_ENABLE_CONSOLE: 'true'
      HASURA_GRAPHQL_DEV_MODE: 'true'
      HASURA_GRAPHQL_UNAUTHORIZED_ROLE: 'public'
      HASURA_GRAPHQL_DATABASE_URL: 'postgres://postgres:password@postgres:5432/postgres'
      HASURA_GRAPHQL_ADMIN_SECRET: 'password'
      # Any $ in secret key need another $ before them for interpolation. > ex. `...4v$0n^c...` becomes `...4v$$0n^c...` (read readme.md)
      HASURA_GRAPHQL_JWT_SECRET: '{ "type": "HS256", "key": "axf*4v$$0n^cv$$fnby!yx2+ek$$qv_ultvb)a-m_-(_-oyy!sns7" }'
    ports:
      - "127.0.0.1:8080:8080"

  # Need to test either API from within the network? Uncomment this service + visit localhost:3000
  # hoppscotch:
  #   image: hoppscotch/hoppscotch:latest
  #   container_name: hds-hoppscotch
  #   depends_on:
  #     - 'hasura'
  #     - 'django'
  #   ports:
  #     - "127.0.0.1:3000:3000"